*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:cursive;
    font-size: 1rem;
    /* background-image: ; */
}

h1{
    /* padding-bottom:1%; */
    background-color: rgba(0, 0, 0, 0.878);
    width: 100%;
    text-align: center;
    color: rgb(193, 164, 143);
    text-shadow: 0px 5px 2px rgb(0, 0, 0);
    
}
.main-content{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(9, 0.70fr);
    grid-template-rows: repeat(10, 0.50fr);
    /* grid-gap: 1.5rem;  */
    grid-column-gap:1rem ;
    grid-row-gap: 0.1rem;
    overflow: hidden;
    z-index: 10;
    text-decoration: none;
    list-style-type: none;
    
}

.main-content h1{
    grid-column: 1 / span 9;
    grid-row: 1/ span 1;
    padding: 0%;
}

.container1{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-image: url('./../Screenshot\ 2024-01-18\ 200709.png');
    background-size: cover; 
    background-position: center; 
    filter: blur(2px); 
    z-index: -1; 
}
.player-info{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.571);
    grid-column: 1/ span 9;
    grid-row: 2/ span 1;
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.944),rgba(248, 248, 242, 0.955));
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.player-info ul{
    display: grid;
    grid-template-columns: repeat(15, 0.10fr);
    grid-template-rows: repeat(1, 1fr);
    /* grid-gap: 1.5rem;  */
    /* grid-column-gap:1.25rem ;
    grid-row-gap: 0.25rem; */
    overflow: hidden;
    z-index: 10;
    text-decoration: none;
    list-style-type: none;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* gap: 5px; */
    overflow-x: scroll;
    scrollbar-color: black rgb(255, 234, 2);
    scrollbar-width:thin;
    scrollbar-shadow-color: aquamarine;
    

    
}


ul li{
    border: 2px solid black;
    padding: 0.2rem;
    border-radius: 20px;
    background-color: rgb(180, 180, 28);
    width:140px;
    text-align: center;

}
/* ul li:nth-child(9){
    grid-column: 4 / span 1;
} */


.status{
    font-size: 1rem;
    text-shadow: 0px 2px 3px black;
}

.nameP{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.05rem;
}

.map-svg{
    /* margin-top: 5px; */
    grid-column: 1 / span 5;
    grid-row: 3/ span 8;
    border: 2px solid red;
}
.map-svg svg{
    transform: scale(0.5 , 0.5);
    translate: scale(0 , 0 );
}

.fun-fact{
    grid-column: 8 / span 2;
    grid-row: 3/ span 7;
    border: 2px solid black;
    background-color: rgba(47, 95, 41, 0.533);
    text-align: left;
}
.fun-fact .room-name{
    font-size: 1.65rem;
    background-color: cadetblue;
    text-transform: capitalize;
    padding: 0%;
    text-align: center;

}
.fun-fact p{
    padding-top: 5px;
    text-transform: capitalize;
}

.prev-player{
    color: antiquewhite;
    /* padding/-top: 50%; */
    /* margin-left: 10px; */
    font-size: 1.25rem;

}

.prev-word{
    font-size: 1.25rem;
    color: burlywood;
    text-wrap: nowrap;
    span{
        color: rgb(235, 213, 20);
        text-transform: capitalize;
        font-size: 1.38rem;
        font-weight:bold;
    }
    
}


.current-player{
    font-size: 1.38rem;
    color: greenyellow;
    text-wrap: nowrap;
}


.on{
    background-color: rgb(11, 71, 11);
    border-radius: 5px;
    color: white;
    align-self: center;
}


.off{
    background-color: rgb(192, 209, 192);
    color: black;
}

.current-loc{
    grid-column: 6 / span 2;
    grid-row:3/ span 8;
    border: 2px solid yellow;
    z-index: 10;
    background-color: beige;
}

.current-alpha{
    text-wrap: wrap;
    font-size: 1.65rem;
    /* align-self: left; */
    /* justify-self: left; */
    /* float: right; */
    color: rgb(250, 226, 196);
    text-decoration: underline;
    span{
        font-size: 4rem;
        text-wrap: wrap;
        text-decoration: none;
        color: rgb(237, 16, 16);
        float: center;

    }
}


.leave-btn{
    /* top: 20%; */
    position: absolute;
    /* align-content: end; */
    /* vertical-align: bottom; */
    /* align-items: baseline; */
    text-align:center;
    bottom: 0%;
    width: 20%;
}

.leave{
    background-color: rgb(187, 211, 51);
    font-size: 1.2rem;
    /* bottom: 0%; */
    width: 100%;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    &:hover{
        background-color: rgb(11, 71, 11);
        color: white;
    }

}


.alpha{
    text-transform: uppercase;
    animation: dance 1s infinite;
    animation-delay: calc(.1s * var(--i));
    font-size: 4rem;
    text-wrap: wrap;
    text-decoration: none;
    color: rgb(194, 16, 93);
    text-align: center;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(220, 206, 206, 0.622));
    font-size: 60px;
    
}
@keyframes dance {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

.main-svg{
    width: 100%;
    height: 100%;
}


.box-in{
    text-align: center;
}
.box-in input {
    width: 100%;
    height: 100%;
    color: #000;
    padding-top: 20px;
    border: none;
    background-color: #edf18f;
    text-align: center;
}

.box-in input:focus ,
.box-in input:valid {
    transform: translateX(0%);
}


.input-count {
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    max-width: 80%;
    padding: 1px 1px;
    padding-bottom: 15px;
    font-size: 16px;
    border-radius:25px;
    box-shadow: inset 2px 5px 10px rgb(87, 205, 51);
    color: #000;
}

.submit{
    border: none;
    padding: 7px 7px;
    font-size:20px;
    position: relative;
    background: transparent;
    color: #ecef35;
    text-transform: uppercase;
    border: 3px solid #ecef35;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 30px;
    width: 50%;
    &:hover{
        color: #022c0c;
    }
}
.submit span{
    transition: all 0.7s;
    z-index: -1;
}

button .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: #eaff00;
}

button:hover .first {
    top: 0;
    right: 0;
}
button .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: #eaff00;
    
    
}

button:hover .second {
    top: 0;
    left: 50%;
}

button .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #eaff00;
}

button:hover .third {
    top: 0;
    left: 25%;
}

button .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #eaff00;
}

button:hover .fourth {
    top: 0;
    left: 0;
}



