@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background:transparent; */
    background-image:url('./../Screenshot\ 2024-01-18\ 200709.png');
    /* z-index: 1; */
    /* opacity: -1; */
    background-color: hsla(0, 31%, 95%, 0.222);
    /* background-color: hsla(0, 1%, 45%, 0.116); */
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-blend-mode:lighten;
  background-size: cover;
  

}

.content 
{
  /* position: absolute; */
  width: 50vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2px; */
  flex-wrap: wrap;
  /* overflow: hidden; */
  flex-direction: column;
  position: relative;
  /* background-color: aquamarine; */

}

.content{
    background-color: hsla(240, 1%, 15%, 0.514);
    padding: 3rem;
    border-radius: 8px;
    border: 3px solid rgb(231, 227, 227);
    box-shadow: 0px 2px 3px 8px rgb(50, 51, 47);
    overflow: visible;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.content .bunny-dance{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px;
    transform: translate(-50%,0%);
}
.content .djsaur-dance{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 130px;
  transform: translate(50%,0%);
}
.content .celeb{
  position: absolute;
  /* bottom: 0; */
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100px; */
  /* transform: translate(-50%,0%); */
}



.player-list>ul{
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: bisque;
    /* text-align: center; */
    list-style-type: none;
    margin-left: 17%;
}

.selected-room{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 4px solid black;
    padding: 10px;
    /* border-radius: 15px; */
    --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
    from var(--border-angle),
    hsla(60, 36%, 77%, 0.334),
    #112 50%,
    #213
  ),
  conic-gradient(from var(--border-angle), transparent 20%,  rgb(247, 247, 124),#000);
background-size: calc(100% - (var(--border-size) * 2))
    calc(100% - (var(--border-size) * 2)),
  cover;
background-position: center center;
background-repeat: no-repeat;

animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@property --border-angle {
syntax: "<angle>";
inherits: true;
initial-value: 0turn;
}



    


.players{
    display:flex ;
    flex-direction: row;
    gap: 10px;
}

/* .player>p{ */
    /* margin-bottom: 2rem; */
/* } */

.player-info{
    color: rgb(247, 247, 124);
}
.created{
    color:#fff;
    font-size: 1rem;
    /* font-weight: ; */
    /* margin-bottom: 2rem; */

}
.winner-name{
  color: goldenrod;
  font-size: 2.25rem;
  /* text-align: center; */
  font-weight: bold;
  width: 100%;
}

.created span{
    color: rgb(231, 235, 171);
    text-wrap:nowrap;
}

.tophy{
    width: 175px;
    height: 175px;
    /* border-radius: 50%; */
    /* box-shadow: 0 0 15px white; */
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
}

.circle{
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: anim 10s infinite;
}

@keyframes anim{
    from{
        transform: rotateY(-360deg) rotateZ(-360deg);
    }
    from{
        transform: rotateY(360deg) rotateZ(360deg);
    }
}

.circle>div{
    width: 150px;
    height: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    animation: anim 10s infinite;
    margin: auto;
    /* margin: auto; */
}

.circle>div:nth-child(1) {
    transform: rotateY(36deg);
    border: 3px solid white;
}
.circle>div:nth-child(2) {
    transform: rotateY(72deg);
    border: 3px solid yellow;
}
.circle>div:nth-child(3) {
    transform: rotateY(108ddeg);
    border: 3px solid yellow;
}
.circle>div:nth-child(4) {
    transform: rotateY(144deg);
    border: 3px solid black;
}


.buttons{
    /* background-color:rgb(187, 211, 51) ; */
    margin-top: 2rem;
    /* bottom: 10px; */
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: row; */
    justify-content: space-around;
    /* align-items: flex-start; */
    /* gap: 6rem; */
    /* flex-grow: 2; */
    /* flgridex */
    /* grid-template-columns: 80% 60%; */
    /* grid-auto-columns: auto; */
    /* grid-area: 20%; */
    /* gap: 10px; */
}
.leave-room, .start-game{
    cursor: pointer;
    background-color: rgb(187, 211, 51);
    padding: 10px 0px;
    /* padding-left: 2rem; */
    /* margin: 1rem; */
    border-radius: 0px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    /* width: 50%; */
    width: 40%;
    position: relative;
    z-index: 100;
}

/* .leave-room{ */
    /* margin-right: 2rem; */
    /* margin-left: 0; */
/* } */

.start-game:hover, .start-game:focus,.leave-room:hover,.leave-room:focus{
  box-shadow: inset 0 0 0 2em yellow;
  background-color: transparent;
  color: rgb(187, 211, 51);
  border: 2px solid rgb(11, 11, 11);
}


.start-game:hover, 
.start-game:focus,.leave-room:hover,.leave-room:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 yellow; }
}

.error-text {
  color: crimson;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(187, 211, 51, 0.65);
  text-align: center;
  margin: 0; padding: 0;
}