<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas Game</title>
    <link rel="stylesheet" href="style/style.css"> <!-- this path must be relative to public folder -->
</head>
<body>
    <h1>This is page 1!!</h1>
    <img src="images/imgName.png" alt="sample image"> <!-- this path must be relative to public folder -->
</body>
</html>