section#create-room-section {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../../public/bgrd.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-size: cover;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section#create-room-section span {
    position: relative;
    display: block;
    width: calc(100vw/18 - 2px);
    height: calc(100vw/18 - 2px);
    background: hsla(0, 0%, 3%, 0.4);
    z-index: 2;
    transition: 1.5s;
}
  
section#create-room-section span:hover {
    background: transparent;
    transition: 0s;
    opacity: 0;
}

section#create-room-section .create-room-container  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.cc {
    position: absolute;
    bottom: calc(20px);
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}